
@{
    ViewData["Title"] = "Excluir Contato";
}
<div class="text-center"><h1 class="display-4">Excluir Achados & Perdidos</h1></div>
<br />

<div class="text-center">
    <h3> Realmente deseja excluir o Item?</h3>
</div>
<br />
<a class="btn btn-primary btn-toolbar" asp-controller="Contato" asp-action="Editar" role="button">Cancelar</a>
<br />
<a class="btn btn-primary btn-toolbar" asp-controller="Contato" asp-action="Apagar" role="button">Confirmar</a>



